[Unit]
Description=Install Athena OS flatpak manifest
After=network-online.target flatpak-system-helper.service
Wants=network-online.target
ConditionPathExists=/etc/flatpak-manifest

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/bash -c 'flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo; while read ref; do [[ -z "$ref" || "$ref" == \\#* ]] && continue; flatpak install -y --noninteractive $ref; done < /etc/flatpak-manifest'

[Install]
WantedBy=multi-user.target
