configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus";
    drun-display-format: "{name}";
    disable-history: false;
    font: "Source Serif 4 12";
}

@theme "~/.config/rofi/friendly.rasi"
