(
    base: (
        red: {{base0D-dec-r}},
        green: {{base0D-dec-g}},
        blue: {{base0D-dec-b}},
        alpha: 1.0,
    ),
    hover: (
        red: {{base0C-dec-r}},
        green: {{base0C-dec-g}},
        blue: {{base0C-dec-b}},
        alpha: 1.0,
    ),
    pressed: (
        red: {{base03-dec-r}},
        green: {{base03-dec-g}},
        blue: {{base03-dec-b}},
        alpha: 1.0,
    ),
    selected: (
        red: {{base0D-dec-r}},
        green: {{base0D-dec-g}},
        blue: {{base0D-dec-b}},
        alpha: 1.0,
    ),
    selected_text: (
        red: {{base07-dec-r}},
        green: {{base07-dec-g}},
        blue: {{base07-dec-b}},
        alpha: 1.0,
    ),
    focus: (
        red: {{base0D-dec-r}},
        green: {{base0D-dec-g}},
        blue: {{base0D-dec-b}},
        alpha: 1.0,
    ),
    divider: (
        red: {{base02-dec-r}},
        green: {{base02-dec-g}},
        blue: {{base02-dec-b}},
        alpha: 1.0,
    ),
    on: (
        red: {{base00-dec-r}},
        green: {{base00-dec-g}},
        blue: {{base00-dec-b}},
        alpha: 1.0,
    ),
    disabled: (
        red: {{base03-dec-r}},
        green: {{base03-dec-g}},
        blue: {{base03-dec-b}},
        alpha: 1.0,
    ),
    on_disabled: (
        red: {{base03-dec-r}},
        green: {{base03-dec-g}},
        blue: {{base03-dec-b}},
        alpha: 1.0,
    ),
    border: (
        red: {{base0D-dec-r}},
        green: {{base0D-dec-g}},
        blue: {{base0D-dec-b}},
        alpha: 1.0,
    ),
    disabled_border: (
        red: {{base03-dec-r}},
        green: {{base03-dec-g}},
        blue: {{base03-dec-b}},
        alpha: 0.5,
    ),
)
